In [32]:
import pandas as pd
import numpy as np       #载入必要的库
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
city = 'Singapore'
data_city = pd.read_csv('../dataset/%s_new.csv'%(city), encoding='ISO-8859-1')
#data_city = pd.read_csv('../dataset/Calgary_new.csv', encoding='ISO-8859-1')
#data_city = pd.read_csv('../dataset/NewYork_new.csv', encoding='ISO-8859-1')
#data_city= pd.read_csv('../dataset/Singapore_new.csv', encoding='ISO-8859-1')
print(data_city.shape)
data_city

(33712, 6)

,VenueId,Longitude,Dimension,Category,City,CountryCode
0,4a5eb95bf964a52019bf1fe3,1.335005,103.964682,Office,Singapore,SG
1,4a5f059ff964a52031bf1fe3,1.302169,103.849513,Hotel,Singapore,SG
2,4a73e804f964a52099dd1fe3,1.281391,103.844348,Temple,Singapore,SG
3,4ac7f7f1f964a520e9ba20e3,1.279386,103.840514,Hotel,Singapore,SG
4,4ac8148ff964a5208bbb20e3,1.282644,103.845286,Temple,Singapore,SG
...,...,...,...,...,...,...
33707,52327343498e57557d71c8a3,1.334814,103.887406,Campaign Office,Singapore,SG
33708,5232de3311d2849884484960,1.323134,103.873704,Housing Development,Singapore,SG
33709,52348bac11d2f5222d094397,1.329494,103.889506,Bar,Singapore,SG
33710,52348ec311d2a8886f1f3ccd,1.329494,103.889506,Nightclub,Singapore,SG
33711,5235e16b11d288ce4b471bc0,1.323393,103.868234,Housing Development,Singapore,SG

In [34]:
categoryTree= pd.read_csv('../dataset/Foursquare_categories_split_Drink.csv', encoding='ISO-8859-1')
categoryTree

,ï»¿L1_Category_name,L1_Category_id,L2_Category_name,L2_Category_id,L3_Category_name,L3_Category_id,L4_Category_name,L4_Category_id,L5_Category_name,L5_Category_id
0,Arts & Entertainment,4d4b7104d754a06370d81259,Arts & Entertainment,4d4b7104d754a06370d81259,NaN,NaN,NaN,NaN,NaN,NaN
1,Arts & Entertainment,4d4b7104d754a06370d81259,Amphitheater,56aa371be4b08b9a8d5734db,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts & Entertainment,4d4b7104d754a06370d81259,Aquarium,4fceea171983d5d06c3e9823,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts & Entertainment,4d4b7104d754a06370d81259,Arcade,4bf58dd8d48988d1e1931735,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts & Entertainment,4d4b7104d754a06370d81259,Art Gallery,4bf58dd8d48988d1e2931735,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
880,Travel & Transport,4d4b7105d754a06379d81259,Train Station,4bf58dd8d48988d129951735,Train,4bf58dd8d48988d12a951735,NaN,NaN,NaN,NaN
881,Travel & Transport,4d4b7105d754a06379d81259,Tram Station,52f2ab2ebcbc57f1066b8b51,NaN,NaN,NaN,NaN,NaN,NaN
882,Travel & Transport,4d4b7105d754a06379d81259,Transportation Service,54541b70498ea6ccd0204bff,NaN,NaN,NaN,NaN,NaN,NaN
883,Travel & Transport,4d4b7105d754a06379d81259,Travel Lounge,4f04b25d2fb6e1c99f3db0c0,NaN,NaN,NaN,NaN,NaN,NaN
884,Travel & Transport,4d4b7105d754a06379d81259,Tunnel,52f2ab2ebcbc57f1066b8b4a,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
for index,data in data_city.iterrows():
    if data[3] in categoryTree['L2_Category_name'].tolist():
        #print("Yes2")
        a = categoryTree[categoryTree['L2_Category_name'].isin([data[3]])]
        data_city.loc[index,'L1_Category'] = a['ï»¿L1_Category_name'].tolist()[0]
    elif data[3] in categoryTree['L3_Category_name'].tolist():
        #print("Yes3")
        a = categoryTree[categoryTree['L3_Category_name'].isin([data[3]])]
        data_city.loc[index,'L1_Category'] = a['ï»¿L1_Category_name'].tolist()[0]
    elif data[3] in categoryTree['L4_Category_name'].tolist():
        #print("Yes4")
        a = categoryTree[categoryTree['L4_Category_name'].isin([data[3]])]
        data_city.loc[index,'L1_Category'] = a['ï»¿L1_Category_name'].tolist()[0]
    elif data[3] in categoryTree['L5_Category_name'].tolist():
        #print("Yes5")
        a = categoryTree[categoryTree['L5_Category_name'].isin([data[3]])]
        data_city.loc[index,'L1_Category'] = a['ï»¿L1_Category_name'].tolist()[0]
    elif data[3]=='Mall':
        data_city.loc[index,'L1_Category'] = 'Shop & Service'     
    elif data[3]=='Gas Station / Garage':  
        data_city.loc[index,'L1_Category'] = 'Shop & Service'
    elif data[3]=='Drugstore / Pharmacy':    
        data_city.loc[index,'L1_Category'] = 'Shop & Service'
    elif data[3]=='Light Rail':    
        data_city.loc[index,'L1_Category'] = 'Travel & Transport'
    elif data[3]=='Spa / Massage':    
        data_city.loc[index,'L1_Category'] = 'Shop & Service'
    elif data[3]=='Volcanoes':    
        data_city.loc[index,'L1_Category'] = 'Travel & Transport'
    elif data[3]=='Caf':    
        data_city.loc[index,'L1_Category'] = 'Food'
    elif data[3]=='Ramen /  Noodle House':    
        data_city.loc[index,'L1_Category'] = 'Food'
    elif data[3]=='Gluten-free Restaurant':    
        data_city.loc[index,'L1_Category'] = 'Food'
    elif data[3]=='Caf':    
        data_city.loc[index,'L1_Category'] = 'Drink'
    elif data[3]=='Subway':    
        data_city.loc[index,'L1_Category'] = 'Travel & Transport'
    elif data[3]=='Tennis':    
        data_city.loc[index,'L1_Category'] = 'Outdoors & Recreation'
    elif data[3]=='Ferry':    
        data_city.loc[index,'L1_Category'] = 'Travel & Transport'
    elif data[3]=='Trails':    
        data_city.loc[index,'L1_Category'] = 'Travel & Transport'
    elif data[3]=='Yogurt':    
        data_city.loc[index,'L1_Category'] = 'Food'
    else:
        print(index,data[3])
print('Done')

Done

In [36]:
data_city

,VenueId,Longitude,Dimension,Category,City,CountryCode,L1_Category
0,4a5eb95bf964a52019bf1fe3,1.335005,103.964682,Office,Singapore,SG,Professional & Other Places
1,4a5f059ff964a52031bf1fe3,1.302169,103.849513,Hotel,Singapore,SG,Travel & Transport
2,4a73e804f964a52099dd1fe3,1.281391,103.844348,Temple,Singapore,SG,Professional & Other Places
3,4ac7f7f1f964a520e9ba20e3,1.279386,103.840514,Hotel,Singapore,SG,Travel & Transport
4,4ac8148ff964a5208bbb20e3,1.282644,103.845286,Temple,Singapore,SG,Professional & Other Places
...,...,...,...,...,...,...,...
33707,52327343498e57557d71c8a3,1.334814,103.887406,Campaign Office,Singapore,SG,Professional & Other Places
33708,5232de3311d2849884484960,1.323134,103.873704,Housing Development,Singapore,SG,Residence
33709,52348bac11d2f5222d094397,1.329494,103.889506,Bar,Singapore,SG,Nightlife Spot
33710,52348ec311d2a8886f1f3ccd,1.329494,103.889506,Nightclub,Singapore,SG,Nightlife Spot
33711,5235e16b11d288ce4b471bc0,1.323393,103.868234,Housing Development,Singapore,SG,Residence

In [37]:
data_city.to_csv("%s_category_data.csv"%(city),index=False,sep=',')
print('%s Sucsseful'%(city))

Singapore Sucsseful